---
import { BASE, LICENSE, NAME, SOCIAL_LINKS, SOURCE_LINK } from "../config.ts";
import SocialIcons from "./SocialIcons.astro";


const today = new Date();
---

<footer class="">
  <div
    class="mx-auto max-w-7xl px-6 pt-12 mt-12 pb-12 md:flex md:items-center md:justify-between lg:px-16 border-t border-base-200 dark:border-base-800"
  >
    <div class="flex justify-center items-center gap-x-6 md:order-2">
      <SocialIcons class="flex gap-x-6" iconClass="h-6 w-6" />
    </div>

    <p
      class="mt-8 text-center text-sm/6 text-base-600 dark:text-base-400 md:order-1 md:mt-0 text-pretty"
    >
      &copy; {today.getFullYear()}
      {NAME}. {LICENSE}
      {
        SOURCE_LINK ? (
          <a
            href={SOURCE_LINK}
            target="_blank"
            class="text-accent-600 hover:text-accent-500 dark:text-accent-500 dark:hover:text-accent-400 font-medium"
          >
            Source
          </a>
        ) : null
      }
    </p>
  </div>
</footer>
